.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	font-size: 20px;
}

#option-menu {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}

#option-menu > div {
	margin: 20px;
	align-items: center;
}

.selection-list {
	width: 100px;
}
